.s-icon {
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    max-height: 100%;
    max-width: 100%;
    fill: $white;

    &--xs {
        
    }

    &--sm {
        
    }

    &--md {
       
    }

    &--large {
       
    }

    &--largest {
      
    }

    &--big {
      
    }
}
