.catalog-nav {
    margin: 32px 0;
    
    // .catalog-nav__inner

    &__inner {
    }

    // .catalog-nav__list

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $sm) {
            justify-content: space-between;
        }
    }
}