.library {
    margin-top: 32px;

    .product-row__row {
        padding-bottom: 20px;
    }

    // .library__inner

    &__inner {
        display: flex;
    }

    // .library__sidebar

    &__sidebar {
        max-width: 278px;
        margin-right: 28px;

        .sidebar__content.active {
            padding-bottom: 10px;
        }

        .sidebar__links {
            // margin-top: -12px;
            // padding-bottom: 6px;
        }

        .sidebar__filter-links {
            padding-bottom: 0;
        }

        .sidebar__title {
            padding-bottom: 13px;
        }
    }


    // .library__title

    &__title {
        margin-bottom: 4px;

        color: $text-primary;
        @include body16;
    }
}
