.search-menu {
    margin: 24px 0;

    @media (max-width: $lg) {
        display: none;
    }

    // .search-menu__inner

    &__inner {
       
    }

    // .search-menu__form

    &__form {
        display: flex;
        max-width: 796px;
    }
}