<div class="breadcrumbs" data-simplebar>
    <div class="container">
        <div class="breadcrumbs__inner">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">
                        Категория раздела
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">
                        Интеллектуальные инсталляционные системы (EIB/KNX)
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link">
                        ABB i-bus EIB/KNX Блоки электропитания
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>