<div class="breadcrumbs" data-simplebar>
  <div class="container">
    <div class="breadcrumbs__inner">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            <svg class="s-icon breadcrumbs__home">
              <use xlink:href="img/svg/sprite1.svg#ic24_home"></use>
            </svg>
            <span class="visually-hidden">На главную</span>
          </a>
          <svg class="s-icon breadcrumbs__arrow">
            <use xlink:href="img/svg/sprite1.svg#ic24_arrow"></use>
          </svg>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Интеллектуальные инсталляционные системы (EIB/KNX)
          </a>
          <svg class="s-icon breadcrumbs__arrow">
            <use xlink:href="img/svg/sprite1.svg#ic24_arrow"></use>
          </svg>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            ABB i-bus EIB/KNX Блоки электропитания
          </a>
          <svg class="s-icon breadcrumbs__arrow">
            <use xlink:href="img/svg/sprite1.svg#ic24_arrow"></use>
          </svg>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">
            Выводы силовые для стационарного выключателя FC Cu T3 (комплект из
            6шт.)
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
