<div class="catalog-nav">
    <div class="container">
        <nav class="catalog-nav__inner">
            <ul class="catalog-nav__list">
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img1.jpg');">
                        <span class="visually-hidden">Приводы</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Приводы
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img2.jpg');">
                        <span class="visually-hidden">Шкафная продукция</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Шкафная продукция 
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img3.jpg');">
                        <span class="visually-hidden">Пуско-регулирующее оборудование</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Пуско-регулирующее оборудование
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img4.jpg');">
                        <span class="visually-hidden">Двигатели</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Двигатели
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img5.jpg');">
                        <span class="visually-hidden">Зарядная инфраструктура для электротранспорта</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Зарядная инфраструктура для электротранспорта
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img6.jpg');">
                        <span class="visually-hidden">Модульные устройства</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Модульные устройства
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img7.jpg');">
                        <span class="visually-hidden">Промышленные разъемы</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Промышленные разъемы
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img8.jpg');">
                        <span class="visually-hidden">Программируемые логические контроллеры</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Программируемые логические контроллеры
                        </p>
                    </div>
                </li>
                <li class="nav-block">
                    <a class="nav-block__link" href="#" style="background-image: url('img/catalog/img9.jpg');">
                        <span class="visually-hidden">Выключатели нагрузки / рубильники</span>
                        <svg class="s-icon nav-block__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="nav-block__content">
                        <p class="nav-block__title">
                            Выключатели нагрузки / рубильники
                        </p>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>