<div class="modal js-modal" id="cert-modal" data-simplebar>
    <div class="modal__overlay overlay"></div>

    <div class="modal__wrapper">
        <div class="modal__inner" style="max-width: 844px;">
            <button class="modal__close js-close">
                <svg class="s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic_close"></use>
                </svg>
            </button>

            <div class="modal__title">
                Причина отказа
            </div>

            <div class="modal__content">
                <p>
                    Современные технологии достигли такого уровня, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки экономической целесообразности принимаемых решений. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий обеспечивает широкому кругу (специалистов) участие в формировании стандартных подходов.
                </p>
            </div>

            <button class="modal__btn btn btn--primary btn--icon">
                <svg class="s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_file_bttn-colorful"></use>
                </svg>
                Подать заявку еще раз
            </button>
        </div>
    </div>
</div>