<div class="cookie-alert">
    <div class="container">
        <div class="cookie-alert__inner">
            <p class="cookie-alert__text">
                Этот сайт использует файл cookie. Продолжая вы даёте согласие на их использование.
            </p>
            <button class="cookie-alert__btn btn btn--primary">Принять</button>
            <a class="cookie-alert__link js-popup-btn" href="#" data-modal="#cookie-modal">Узнать больше</a>
        </div>
    </div>
</div>