<section class="documentation-menu">
    <div class="container">
        <div class="documentation-menu__inner">
            <ul class="documentation-menu__list">
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link active" href="#">Описание API</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Авторизация</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Данные о товарах</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Данные ETIM</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Сертификаты</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Изображения</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Цены</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Остатки</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Остатки онлайн</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Весо-габаритные характеристики</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Связанные товары</a>
                </li>
                <li class="documentation-menu__item">
                    <a class="documentation-menu__link" href="#">Замены</a>
                </li>
            </ul>
        </div>
    </div>
</section>