<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <div class="footer__title">
                    Следите за нашими обновлениями
                </div>

                <ul class="footer__social">
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            <svg class="s-icon s-icon--lg">
                                <use xlink:href="img/svg/social.svg#social_vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            <svg class="s-icon s-icon--lg">
                                <use xlink:href="img/svg/social.svg#social_facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            <svg class="s-icon s-icon--lg">
                                <use xlink:href="img/svg/social.svg#social_instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">
                            <svg class="s-icon s-icon--lg">
                                <use xlink:href="img/svg/social.svg#social_youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <div class="footer__title">
                    Поддержка
                </div>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="tel:+74959876543">+7 (495) 987–65–43</a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="mailto:lp_support@ru.abb.com">lp_support@ru.abb.com</a>
                    </li>
                </ul>
                <p class="footer__text">
                    с 9 до 18 (МСК) <br>
                    СБ, ВС — выходной
                </p>
            </div>

            <div class="footer__col">
                <div class="footer__title">
                    Официальный сайт
                </div>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#" target="_blank">new.abb.com/ru</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__copyright">
            <p class="footer__copy">
                &copy; Авторские права 2021 ABB
            </p>
            <a class="footer__copy" href="#">
                Cookie и Политика конфиденциальности
            </a>
            <a class="footer__copy" href="#">
                Согласование об использовании платформой
            </a>
            <a class="footer__copy" href="#">
                Политика обработки персональных данных
            </a>
        </div>
    </div>
</footer>