<header class="header header--empty">
  <div class="container-wide">
    <div class="header__inner">
      <a class="header__logo logo" href="#">
        <img class="logo__img" src="img/abb_logo.svg" alt="Логотип ABB" />
      </a>

      <p class="header__text">Портал для профессионалов и партнеров бизнесов «Электрооборудование» и «Электропривод»</p>

      <div class="header__login">
        <button class="header__login-btn btn btn--secondary btn--icon">
          <svg class="btn__icon s-icon">
            <use xlink:href="img/svg/sprite1.svg#ic24_account"></use>
          </svg>
          <span class="btn__text">Вход <span>в личный кабинет</span></span>
        </button>
      </div>
    </div>
  </div>
</header>