<header class="header header--account">
    <div class="container-wide">
        {% if headerAuth %}
        <div class="header__inner">
            <button class="header__menu-burger">
                Открыть меню
                <span></span>
                <span></span>
                <span></span>
            </button>

            <h1 class="header__page-title">
                {{headerPageTitle}}
            </h1>

            <a class="header__logo logo" href="#" data-da="header__list-title,last,1218">
                <img class="logo__img" src="img/abb_logo.svg" alt="Логотип ABB">
            </a>

            <nav class="header__menu" data-simplebar>
                <div class="header__list-wrapper">
                    <div class="header__list-title">Меню</div>
                    <ul class="header__list">
                        <li class="header__item header__item--active">
                            <a class="header__link" href="#">Каталог товаров</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">Где купить</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">Обучение</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">Инструменты</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">Документы</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">Новости для вас</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">Частые вопросы</a>
                        </li>
                    </ul>
                </div>

            </nav>


            <div class="header__logout" data-da="header__list-wrapper,last,1218">
                <a class="header__profile" href="#">
                    <div class="header__name">
                        Иванов Иван Иванович
                    </div>
                    <div class="header__descr">
                        ООО «Элевел Торговая компания…
                    </div>
                </a>
                <button class="header__logout-btn" data-da="header__inner,last,1218">
                    <svg class="s-icon s-icon--md">
                        <use xlink:href="img/svg/sprite1.svg#ic32_logout"></use>
                    </svg>
                    <span class="visually-hidden">Выйти из профиля</span>
                </button>
            </div>

            <div class="header__search">
                <label class="header__search-label">
                    <svg class="header__search-close s-icon s-icon--md">
                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                    </svg>
                    <input class="header__search-input" type="search"
                        placeholder="Код заказа, артикул/тип, наименование">
                    <svg class="header__search-clear s-icon s-icon--md">
                        <use xlink:href="img/svg/sprite1.svg#ic32_cancel"></use>
                    </svg>
                </label>
                <svg class="header__search-open s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic24_search-m"></use>
                </svg>
            </div>
        </div>
        {% else %}
        <div class="header__inner">
            <a class="header__logo logo" href="#">
                <img class="logo__img" src="img/abb_logo.svg" alt="Логотип ABB">
            </a>

            <p class="header__text">
                Портал для профессионалов и партнёров бизнесов «Электрооборудование» и «Электропривод»
            </p>

            <div class="header__login">
                <button class="header__login-btn btn btn--secondary btn--icon">
                    <svg class="btn__icon s-icon">
                        <use xlink:href="img/svg/sprite1.svg#ic24_account"></use>
                    </svg>
                    <span class="btn__text">Вход в личный кабинет</span>
                </button>
            </div>
        </div>
        {% endif %}

    </div>
</header>