<section class="hero-slider">
    <div class="container-wide">
        <div class="hero-slider__inner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero-slider__slide">

                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>