<section class="hero-slider">
    <div class="hero-slider__inner">
        <div class="hero-slider__slider swiper-container">

            <div class="swiper-wrapper">
                <div class="swiper-slide hero-slider__slide" style="background-image: url(img/landing/bg.jpg);">
                    <div class="container">
                        <div class="hero-slider__slide-inner">
                            <div class="hero-slider__content">
                                <div class="hero-slider__title">
                                    Подборка конфигураторов и ПО
                                </div>
                                <div class="hero-slider__link">
                                    Подробнее
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide hero-slider__slide" style="background-image: url(img/landing/bg.jpg);">
                    <div class="container">
                        <div class="hero-slider__slide-inner">
                            <div class="hero-slider__content">
                                <div class="hero-slider__title">
                                    Подборка конфигураторов и ПО 2
                                </div>
                                <div class="hero-slider__link">
                                    Подробнее 2
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide hero-slider__slide" style="background-image: url(img/landing/bg.jpg);">
                    <div class="container">
                        <div class="hero-slider__slide-inner">
                            <div class="hero-slider__content">
                                <div class="hero-slider__title">
                                    Подборка конфигураторов и ПО 2
                                </div>
                                <div class="hero-slider__link">
                                    Подробнее 2
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <button class="swiper-button-prev hero-slider__btn hero-slider__btn--prev">
                <span class="visually-hidden">Предыдущий слайд</span>
                <svg class="s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                </svg>
            </button>
            <button class="swiper-button-next hero-slider__btn hero-slider__btn--next">
                <span class="visually-hidden">Следующий слайд</span>
                <svg class="s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                </svg>
            </button>
        </div>
        <form class="hero-slider__search">
            {% set searchPlaceholder = "Код заказа, артикул/тип, наименование или серия" %}
            {% set btnOff = "true" %}
            {% include 'parts/components/search-block.njk' %}
        </form>
    </div>

</section>