<div class="main-menu">
    <div class="main-menu__overlay"></div>
    <div class="container">
        <nav class="main-menu__inner">
            <ul class="main-menu__list js-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#" style="background-image: url('img/catalog/picture1.jpg');">
                        <span class="visually-hidden">Промышленные разъемы</span>
                        <svg class="s-icon main-menu__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="main-menu__content">
                        <p class="main-menu__title">
                            Промышленные разъемы
                        </p>

                        <button class="main-menu__drop-open btn js-menu__title">
                            <span class="visually-hidden">Открыть меню</span>
                            <svg class="s-icon">
                                <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="main-menu__drop-list js-menu__content">
                        <div class="main-menu__drop-title">Промышленные разъемы</div>
                        <ul>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Безопасность и наблюдение</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">
                                    ABB i-bus EIB/KNX Блоки электропитания, ABB i-bus EIB/KNX Блоки электропитания
                                </a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Контроллеры, логические элементы и таймеры</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Регулирование потребления электроэнергии</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Соединительные элементы</a>
                            </li>

                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Безопасность и наблюдение</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Контроллеры, логические элементы и таймеры</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Регулирование потребления электроэнергии</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">Соединительные элементы</a>
                            </li>
                            <li class="main-menu__close">
                                <button class="main-menu__close-btn js-menu__close">
                                    <span>Закрыть</span>
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#" style="background-image: url('img/catalog/picture2.jpg');">
                        <span class="visually-hidden">Программируемые логические контроллеры</span>
                        <svg class="s-icon main-menu__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="main-menu__content">
                        <p class="main-menu__title">
                            Программируемые логические контроллеры
                        </p>

                        <button class="main-menu__drop-open btn js-menu__title">
                            <span class="visually-hidden">Открыть меню</span>
                            <svg class="s-icon">
                                <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="main-menu__drop-list js-menu__content">
                        <div class="main-menu__drop-title">Программируемые логические контроллеры</div>
                        <ul>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>

                            <li class="main-menu__close">
                                <button class="main-menu__close-btn js-menu__close">
                                    <span>Закрыть</span>
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#" style="background-image: url('img/catalog/picture3.jpg');">
                        <span class="visually-hidden">Выключатели нагрузки / рубильники</span>
                        <svg class="s-icon main-menu__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="main-menu__content">
                        <p class="main-menu__title">
                            Выключатели нагрузки / рубильники
                        </p>
                        <button class="main-menu__drop-open btn js-menu__title">
                            <span class="visually-hidden">Открыть меню</span>
                            <svg class="s-icon">
                                <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="main-menu__drop-list js-menu__content">
                        <div class="main-menu__drop-title">Выключатели нагрузки / рубильники</div>
                        <ul>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>


                            <li class="main-menu__close">
                                <button class="main-menu__close-btn js-menu__close">
                                    <span>Закрыть</span>
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#" style="background-image: url('img/catalog/picture4.jpg');">
                        <span class="visually-hidden">Двигатели</span>
                        <svg class="s-icon main-menu__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="main-menu__content">
                        <p class="main-menu__title">
                            Двигатели
                        </p>
                        <button class="main-menu__drop-open btn js-menu__title">
                            <span class="visually-hidden">Открыть меню</span>
                            <svg class="s-icon">
                                <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="main-menu__drop-list js-menu__content">
                        <div class="main-menu__drop-title">Двигатели</div>
                        <ul>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>


                            <li class="main-menu__close">
                                <button class="main-menu__close-btn js-menu__close">
                                    <span>Закрыть</span>
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#" style="background-image: url('img/catalog/picture5.jpg');">
                        <span class="visually-hidden">Зарядная инфраструктура для электротранспорта</span>
                        <svg class="s-icon main-menu__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="main-menu__content">
                        <p class="main-menu__title">
                            Зарядная инфраструктура для электротранспорта
                        </p>
                        <button class="main-menu__drop-open btn js-menu__title">
                            <span class="visually-hidden">Открыть меню</span>
                            <svg class="s-icon">
                                <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="main-menu__drop-list js-menu__content">
                        <div class="main-menu__drop-title">Зарядная инфраструктура для электротранспорта</div>
                        <ul>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>


                            <li class="main-menu__close">
                                <button class="main-menu__close-btn js-menu__close">
                                    <span>Закрыть</span>
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#" style="background-image: url('img/catalog/picture6.jpg');">
                        <span class="visually-hidden">Модульные устройства</span>
                        <svg class="s-icon main-menu__icon-link">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                        </svg>
                    </a>
                    <div class="main-menu__content">
                        <p class="main-menu__title">
                            Модульные устройства
                        </p>
                        <button class="main-menu__drop-open btn js-menu__title">
                            <span class="visually-hidden">Открыть меню</span>
                            <svg class="s-icon">
                                <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="main-menu__drop-list js-menu__content">
                        <div class="main-menu__drop-title">Модульные устройства</div>
                        <ul>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>
                            <li class="main-menu__drop-item">
                                <a class="main-menu__drop-link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                            </li>


                            <li class="main-menu__close">
                                <button class="main-menu__close-btn js-menu__close">
                                    <span>Закрыть</span>
                                    <svg class="s-icon s-icon--md">
                                        <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>