<div class="modal js-modal" id="cookie-modal" data-simplebar>
    <div class="modal__overlay overlay"></div>
    
    <div class="modal__wrapper">
        <div class="modal__inner">
            <button class="modal__close js-close">
                <svg class="s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic_close"></use>
                </svg>
            </button>
    
            <div class="modal__title">
                Cookies
            </div>
    
            <div class="modal__content">
                <h3>
                    1. Общие положения
                </h3>
                <p>
                    Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального
                    закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных
                    и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем
                    (далее – Оператор).
                </p>
                <ol style="--c-start: 1;">
                    <li>
                        Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и
                        свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на
                        неприкосновенность частной жизни, личную и семейную тайну.
                    </li>
                    <li>
                        Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика)
                        применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта
                        httpsː//thismywebsite·com.
                    </li>
                </ol>
    
                <h3>
                    2. Частные положения
                </h3>
    
                <p>
                    Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального
                    закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных
                    и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем
                    (далее – Оператор).
                </p>
                <ol style="--c-start: 1;">
                    <li>
                        Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и
                        свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на
                        неприкосновенность частной жизни, личную и семейную тайну.
                    </li>
                    <li>
                        Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика)
                        применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта
                        httpsː//thismywebsite·com.
                    </li>
                </ol>
            </div>

            <button class="modal__btn btn btn--primary">Принять</button>
        </div>
    </div>
</div>