<section class="navigation">
    <div class="container">
        <div class="navigation__inner">
            <div class="page-title navigation__title">
                <h2>Навигация</h2>
            </div>

            <nav class="navigation__menu">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item1.jpg');">
                            <span class="visually-hidden">Каталог товаров</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Поиск информации по конкретному товару</p>
                            <div class="navigation__subtitle">Каталог товаров</div>
                        </div>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item2.jpg');">
                            <span class="visually-hidden">Где купить</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Поиск партнеров ABB</p>
                            <div class="navigation__subtitle">Где купить</div>
                        </div>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item3.jpg');">
                            <span class="visually-hidden">Обучение</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Поиск семинаров, вебинаров и форумов</p>
                            <div class="navigation__subtitle">Обучение</div>
                        </div>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item4.jpg');">
                            <span class="visually-hidden">Инструменты</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Подборка конфигураторов и ПО</p>
                            <div class="navigation__subtitle">Инструменты</div>
                        </div>
                    </li>

                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item5.jpg');">
                            <span class="visually-hidden">Документы</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Поиск каталогов и технической документации</p>
                            <div class="navigation__subtitle">Документы</div>
                        </div>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item6.jpg');">
                            <span class="visually-hidden">Новости для вас</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Подборка новостей по вашему профилю</p>
                            <div class="navigation__subtitle">Новости для вас</div>
                        </div>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#" style="background-image: url('img/navigation/item7.jpg');">
                            <span class="visually-hidden">Частые вопросы</span>
                            <svg class="s-icon navigation__icon-link">
                                <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                            </svg>
                        </a>
                        <div class="navigation__content">
                            <p class="navigation__text">Подборка ответов</p>
                            <div class="navigation__subtitle">Частые вопросы</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>