<section class="news-block">
    <div class="container">
        <div class="news-block__inner">
            <div class="news-block__title">
                <h2>Другие новости</h2>
            </div>

            <ul class="news-block__list">
                <li class="news-block__item">
                    <a class="news-block__card" href="#">
                        <time class="news-block__date" datetime="2021-01-15">15 января 2021 г.</time>
                        <h3 class="news-block__card-title">
                            Новое решение ABB для мониторинга выбросов помогает судоходной отрасли достичь целей по
                            декарбонизации
                        </h3>
                    </a>
                </li>
                <li class="news-block__item">
                    <a class="news-block__card" href="#">
                        <time class="news-block__date" datetime="2021-01-15">15 января 2021 г.</time>
                        <h3 class="news-block__card-title">
                            ABB помогает повысить эффективность итальянского завода по производству томатной пасты
                        </h3>
                    </a>
                </li>
                <li class="news-block__item">
                    <a class="news-block__card" href="#">
                        <time class="news-block__date" datetime="2021-01-15">15 января 2021 г.</time>
                        <h3 class="news-block__card-title">
                            Кабель, компоненты и космические исследования
                        </h3>
                    </a>
                </li>
                <li class="news-block__item">
                    <a class="news-block__card" href="#">
                        <time class="news-block__date" datetime="2021-01-15">15 января 2021 г.</time>
                        <h3 class="news-block__card-title">
                            Компания ABB обеспечивает освещение на гонках электромобилей в городе Эд-Диръия
                        </h3>
                    </a>
                </li>
                <li class="news-block__item">
                    <a class="news-block__card" href="#">
                        <time class="news-block__date" datetime="2021-01-15">15 января 2021 г.</time>
                        <h3 class="news-block__card-title">
                            Кабель, компоненты и космические исследования
                        </h3>
                    </a>
                </li>
                <li class="news-block__item">
                    <a class="news-block__card" href="#">
                        <time class="news-block__date" datetime="2021-01-15">15 января 2021 г.</time>
                        <h3 class="news-block__card-title">
                            На электрокаре по Вологде: ABB установила зарядную станцию Terra-54 на территории компании «Бизнес Софт»
                        </h3>
                    </a>
                </li>
            </ul>

            <a class="news-block__link" href="#">К списку новостей</a>
        </div>
    </div>
</section>