<section class="news-view">
    <div class="news-view__header" style="background-image: url(img/news/news-one-bg.jpg);"></div>
    <div class="container">
        <div class="news-view__inner">
            <a class="news-view__link" href="#">К списку новостей</a>

            <div class="page-title news-view__title">
                <h1>Датчик ABB, выведенный на орбиту ракетой SpaceX, будет отслеживать выбросы парниковых газов</h1>
            </div>

            <ul class="news-view__subtitle">
                <li class="news-view__characteristic">Новинки</li>
                <li class="news-view__characteristic">12 февраля 2021 г.</li>
            </ul>

            <div class="news-view__content">
                <p>
                    Оптический датчик от ABB, работая в космосе, способен составить карту выбросов метана с разрешением,
                    которое в 100 раз выше, чем у любых других датчиков. Прежде возможно было исследовать только крупные
                    области, но теперь высокая детализация впервые позволяет идентифицировать источник выбросов. В
                    настоящее время компания ABB начала производство еще девяти устройств, которые будут запущены к
                    концу 2022 года в составе первой частной группировки спутников, предназначенных для измерения
                    выбросов.
                </p>
                <p>
                    Космос – идеальное место для мониторинга выбросов в разных юрисдикциях и количественной отчетности о
                    положительных изменениях. Датчики ABB предоставят ценные данные, которые позволят правительствам и
                    отраслям во всем мире достичь своих целей по сокращению выбросов и снизить негативное влияние на
                    глобальное потепление.
                </p>
                <div class="news-view__info">
                    <p>
                        ABB также является мировым лидером в области непрерывного мониторинга выбросов в атмосферу с
                        более чем 60 000 систем, установленных в более чем 50 странах мира. Системы непрерывного
                        мониторинга выбросов (CEMS) непрерывно регистрируют и оценивают данные о выбросах во всех
                        отраслях промышленности. Они предоставляют важную информацию для экологической и экономической
                        эксплуатации производственных объектов. Ассортимент включает газоанализатор ACF5000, который
                        может точно и надежно измерять до 15 компонентов газа одновременно.
                    </p>
                </div>

                <img src="img/news/img.jpg" alt="">

                <p>
                    Оптический датчик от ABB, работая в космосе, способен составить карту выбросов метана с разрешением,
                    которое в 100 раз выше, чем у любых других датчиков. Прежде возможно было исследовать только крупные
                    области, но теперь высокая детализация впервые позволяет идентифицировать источник выбросов. В
                    настоящее время компания ABB начала производство еще девяти устройств, которые будут запущены к
                    концу 2022 года в составе первой частной группировки спутников, предназначенных для измерения
                    выбросов.
                </p>

                <div class="table-content">
                    <div class="table-content__table-header">
                        <div class="table-content__th">Метод</div>
                        <div class="table-content__th">Значение</div>
                        <div class="table-content__th">Пример</div>
                    </div>
                    <ul class="table-content__rows">
                        <li class="table-content__row">
                            <div class="table-content__col">Название метода 1</div>
                            <div class="table-content__col">
                                Пример значения длиннного текста в несколько строк или больше
                            </div>
                            <div class="table-content__col">getdata</div>
                        </li>
                        <li class="table-content__row">
                            <div class="table-content__col">Название метода 2</div>
                            <div class="table-content__col">
                                Пример значения длиннного текста в несколько строк или больше
                            </div>
                            <div class="table-content__col">getdata</div>
                        </li>
                        <li class="table-content__row">
                            <div class="table-content__col">Название метода 3</div>
                            <div class="table-content__col">
                                Пример значения длиннного текста в несколько строк или больше
                            </div>
                            <div class="table-content__col">getdata</div>
                        </li>
                    </ul>
                </div>

                <p>
                    Оптический датчик от ABB, работая в космосе, способен составить карту выбросов метана с разрешением,
                    которое в 100 раз выше, чем у любых других датчиков. Прежде возможно было исследовать только крупные
                    области, но теперь высокая детализация впервые позволяет идентифицировать источник выбросов. В
                    настоящее время компания ABB начала производство еще девяти устройств, которые будут запущены к
                    концу 2022 года в составе первой частной группировки спутников, предназначенных для измерения
                    выбросов.
                </p>
            </div>
        </div>
    </div>
</section>