<section class="partner-type">
    <div class="container">
        <div class="partner-type__inner">
            <h2 class="partner-type__title">
                Выберите тип партнерства c ABB
            </h2>
            <p class="partner-type__suptitle">
                Если у вас нет договора поставки с ООО «АББ», то выберите «Непрямой партнер»
            </p>
        </div>

        <div class="select partner-type__select">
            <div class="select__header">
                <div class="select__content" tabindex="0">

                </div>
                <svg class="s-icon select__icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>
            <div class="select__list" data-simplebar>
                <div class="select__item active" data-select-value="direct" tabindex="0">
                    <span class="select__item-inner">Прямой партнер</span>
                </div>
                <div class="select__item active" data-select-value="nondirect" tabindex="0">
                    <span class="select__item-inner">Непрямой партнер</span>
                </div>
            </div>
            <select class="select__data" name="partnerType" tabindex="-1">
                <option value="direct">Прямой партнер</option>
                <option value="nondirect">Непрямой партнер</option>
            </select>
        </div>

        <p class="partner-type__info">
            <svg class="s-icon">
                <use xlink:href="img/svg/sprite1.svg#ic24_warning"></use>
            </svg>
            Для доступа к порталу, пожалуйста, свяжитесь с ответственным сотрудником ABB за Вашу компанию
        </p>
    </div>
</section>