<section class="partner-type">
    <div class="container">
        <form class="partner-type__form js-form-send">
            <div class="partner-type__form-block">
                <div class="partner-type__form-title">
                    Ваши данные
                </div>
                <div class="partner-type__row">
                    <div class="f-control partner-type__control">
                        <label class="f-control__label" for="name">Имя</label>
                        <input class="f-control__input" type="text" id="name">
                    </div>
                    <div class="f-control partner-type__control">
                        <label class="f-control__label" for="surname">Фамилия</label>
                        <input class="f-control__input" type="text" id="surname">
                    </div>
                </div>

                <div class="partner-type__row">
                    <div class="f-control partner-type__control partner-type__control--col6">
                        <label class="f-control__label" for="position">Должность</label>
                        <input class="f-control__input" type="text" id="position">
                    </div>
                </div>

                <div class="partner-type__row">
                    <div class="f-control partner-type__control">
                        <label class="f-control__label" for="email">E-mail</label>
                        <input class="f-control__input" type="email" id="email">
                    </div>
                    <div class="f-control partner-type__control">
                        <label class="f-control__label" for="phone">Контактный телефон</label>
                        <input class="f-control__input" type="tel" id="phone">
                    </div>
                </div>
            </div>

            <div class="partner-type__form-block">
                <div class="partner-type__form-title">
                    Какой уровень доступа вам требуется?
                </div>
                
                <label class="f-checkbox partner-type__check">
                    <input class="f-checkbox__input" type="checkbox" name="check1">
                    <span class="f-checkbox__box"></span>
                    <span class="f-checkbox__text">Доступ к скачиванию данным о товарах</span>
                </label>

                <label class="f-checkbox partner-type__check">
                    <input class="f-checkbox__input" type="checkbox" name="check2">
                    <span class="f-checkbox__box"></span>
                    <span class="f-checkbox__text">Доступ к сертификации компании</span>
                </label>

                <label class="f-checkbox partner-type__check">
                    <input class="f-checkbox__input" type="checkbox" name="check3">
                    <span class="f-checkbox__box"></span>
                    <span class="f-checkbox__text">Доступ к API</span>
                </label>
            </div>
            
            <div class="partner-type__agreement">
                <label class="f-checkbox partner-type__agreement-check">
                    <input class="f-checkbox__input" type="checkbox" name="check3">
                    <span class="f-checkbox__box"></span>
                    <span class="f-checkbox__text">
                        Согласен с <a href="#">условиями пользования платформой</a> и <a href="#">обработкой персональных данных</a>
                    </span>
                </label>
            </div>

            <button class="btn btn--primary partner-type__send">
                Зарегистрироваться
            </button>

        </form>
    </div>
</section>