<div class="modal js-modal" id="password-modal" data-simplebar>
    <div class="modal__overlay overlay"></div>

    <div class="modal__wrapper">
        <div class="modal__inner" style="max-width: 436px;">
            <button class="modal__close js-close">
                <svg class="s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic_close"></use>
                </svg>
            </button>

            <div class="modal__title">
                Смена пароля
            </div>

            <form class="modal__form" novalidate>
                <div class="f-control f-control--password">
                    <label class="f-control__label visually-hidden" for="password">Текущий пароль</label>
                    <input class="f-control__input" type="password" placeholder="Текущий пароль" id="password">
                    <button class="f-control__eye visible">
                        <svg class="f-control__e f-control__e--on s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_visible_on"></use>
                        </svg>
                        <svg class="f-control__e f-control__e--off s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_visible_off"></use>
                        </svg>
                    </button>
                    <!-- <small class="f-control__error">Ашипка</small> -->
                </div>
                <div class="f-control f-control--password">
                    <label class="f-control__label visually-hidden" for="password2">Новый пароль</label>
                    <input class="f-control__input" type="password" placeholder="Новый пароль" id="password2">
                    <button class="f-control__eye visible">
                        <svg class="f-control__e f-control__e--on s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_visible_on"></use>
                        </svg>
                        <svg class="f-control__e f-control__e--off s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_visible_off"></use>
                        </svg>
                    </button>
                    <!-- <small class="f-control__error">Ашипка</small> -->
                </div>
                <div class="f-control f-control--password">
                    <label class="f-control__label visually-hidden" for="password3">Еще раз новый пароль</label>
                    <input class="f-control__input" type="password" placeholder="Еще раз новый пароль" id="password3">
                    <button class="f-control__eye visible">
                        <svg class="f-control__e f-control__e--on s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_visible_on"></use>
                        </svg>
                        <svg class="f-control__e f-control__e--off s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_visible_off"></use>
                        </svg>
                    </button>
                    <!-- <small class="f-control__error">Ашипка</small> -->
                </div>

                <button class="modal__btn btn btn--primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>