<section class="product-view">
    <div class="container">
        <div class="product-view__header">
            <div class="product-view__title page-title">
                <h1>Выводы силовые для стационарного выключателя FC Cu T3 (комплект из 6шт.)</h1>
            </div>

            <button class="btn btn--secondary btn--icon product-view__btn-save">
                <svg class="s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_file_bttn"></use>
                </svg>
                Сохранить в PDF
            </button>
        </div>

        <div class="product-view__inner">
            <div class="product-view__sidebar">
                <div class="product-view__slider-wrapper">
                    <div class="product-view__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-view__slide">
                                <div class="product-view__slider-text">Рекомендовано как основное фото</div>
                                <img class="product-view__img" src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__slide">
                                <div class="product-view__slider-text">Рекомендовано как основное фото</div>
                                <img class="product-view__img" src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__slide">
                                <div class="product-view__slider-text">Рекомендовано как основное фото</div>
                                <img class="product-view__img" src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__slide">
                                <div class="product-view__slider-text">Рекомендовано как основное фото</div>
                                <img class="product-view__img" src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__slide">
                                <div class="product-view__slider-text">Рекомендовано как основное фото</div>
                                <img class="product-view__img" src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__slide">
                                <div class="product-view__slider-text">Рекомендовано как основное фото</div>
                                <img class="product-view__img" src="img/product-page/main-photo.png" alt="">
                            </div>
                        </div>
                        <button class="product-view__slider-btn product-view__slider-btn--left">
                            <span class="visually-hidden">Назад</span>
                            <svg class="s-icon s-icon--md">
                                <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                            </svg>
                        </button>
                        <button class="product-view__slider-btn product-view__slider-btn--right">
                            <span class="visually-hidden">Вперед</span>
                            <svg class="s-icon s-icon--md">
                                <use xlink:href="img/svg/sprite1.svg#ic32_arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="product-view__thumb swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-view__thumb-item">
                                <img src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__thumb-item">
                                <img src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__thumb-item">
                                <img src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__thumb-item">
                                <img src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__thumb-item">
                                <img src="img/product-page/main-photo.png" alt="">
                            </div>
                            <div class="swiper-slide product-view__thumb-item">
                                <img src="img/product-page/main-photo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="product-view__aside aside-info">
                    <h2 class="aside-info__title">
                        Хотите обновлять товары автоматически?
                    </h2>

                    <div class="aside-info__content">
                        <p>
                            Для партнеров мы разработали сервис, который позволяет по API обновлять данные в
                            автоматическом режиме.
                        </p>

                        <p>Попросите вашего разработчика ознакомиться с документацией.</p>
                    </div>

                    <a class="btn btn--secondary btn--icon aside-info__btn" href="#">
                        <svg class="s-icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_external_link_bttn"></use>
                        </svg>
                        Перейти к документации
                    </a>
                </aside>
            </div>



            <div class="product-view__content">
                <div class="product-view__status-wrapper">
                    <div class="product-view__status">Продажи прекращены</div>
                    <div class="product-view__status product-view__status--gray">Доступен к заказу</div>
                </div>

                <div class="product-view__data">
                    <ul class="product-view__list">
                        <li class="product-view__item">
                            <div class="product-view__name">Код заказа</div>
                            <div class="product-view__value">516412-36</div>
                        </li>
                        <li class="product-view__item">
                            <div class="product-view__name">Артикул/тип</div>
                            <div class="product-view__value">215483</div>
                        </li>
                        <li class="product-view__item">
                            <div class="product-view__name">Код замены</div>
                            <div class="product-view__value">54894-21</div>
                        </li>
                        <li class="product-view__item">
                            <div class="product-view__name">Серия</div>
                            <div class="product-view__value">Контроллеры, Управление автоматизацией</div>
                        </li>
                        <li class="product-view__item">
                            <div class="product-view__name">Описание</div>
                            <div class="product-view__value">
                                Рамка на 1 пост ABB Zenit, немецкий стандарт (брызги шампанского) N2271 CH +
                                N2271.9у213213 в 2 строки, длинное, чтобы помещалось и не попадала на другие блоки
                            </div>
                        </li>
                        <li class="product-view__item">
                            <div class="product-view__name">Страна производитель</div>
                            <div class="product-view__value">Германия</div>
                        </li>
                    </ul>
                </div>

                <div class="product-view__tabs product-tabs">
                    <ul class="product-tabs__header">
                        <li class="product-tabs__title active">
                            Цены и остатки
                        </li>
                        <li class="product-tabs__title">
                            Технические характеристики
                        </li>
                        <li class="product-tabs__title">
                            Документы
                        </li>
                        <li class="product-tabs__title">
                            Видео
                        </li>
                        <li class="product-tabs__title">
                            Дополнительные фото
                        </li>
                    </ul>

                    <div class="product-tabs__content">
                        <div class="product-tabs__block active">
                            <div class="product-tabs__info">
                                <ul class="product-tabs__list">
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">
                                            Стоимость без НДС
                                        </div>
                                        <div class="product-tabs__value">
                                            <b>99 999,45 ₽</b>
                                            <i>(на 12.03.2021)</i>
                                        </div>
                                    </li>
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">
                                            Группа цен и материалов (ГЦМ)
                                        </div>
                                        <div class="product-tabs__value">TMG</div>
                                    </li>
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">Ориентировочный срок поставки</div>
                                        <div class="product-tabs__value">4 недели</div>
                                    </li>
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">Склад/Заказ/Запас</div>
                                        <div class="product-tabs__value">А</div>
                                    </li>
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">Минимальный заказ</div>
                                        <div class="product-tabs__value">3 шт.</div>
                                    </li>
                                </ul>
                                <a class="product-tabs__link" href="#">Весь прайс-лист в Личном кабинете</a>
                            </div>

                            <div class="product-tabs__info">
                                <ul class="product-tabs__list">
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">
                                            Свободное использование
                                        </div>
                                        <div class="product-tabs__value">2175 шт.</div>
                                    </li>
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">
                                            Заказано с завода
                                        </div>
                                        <div class="product-tabs__value">1211 шт.</div>
                                    </li>
                                    <li class="product-tabs__list-item">
                                        <div class="product-tabs__name">
                                            В пути с завода
                                        </div>
                                        <div class="product-tabs__value">800 шт.</div>
                                    </li>
                                </ul>
                                <a class="product-tabs__link" href="#">Все остатки в Личном кабинете</a>
                            </div>
                        </div>
                        <div class="product-tabs__block">
                            <div class="etim-block">
                                <div class="etim-block__box">
                                    <div class="etim-block__title">
                                        ETIM 7
                                        <svg class="s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_info"></use>
                                        </svg>
                                    </div>

                                    <div class="etim-block__table etim-block__table--main">
                                        <div class="etim-block__header">
                                            <div class="etim-block__th">ETIM-код класса</div>
                                            <div class="etim-block__th">Описание ETIM-класса</div>
                                        </div>
                                        <ul class="etim-block__rows">
                                            <div class="etim-block__row">
                                                <div class="etim-block__col"><b>EC000761</b></div>
                                                <div class="etim-block__col">
                                                    <b>Маркировка для клеммной колодки / клеммного блока</b>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>

                                <div class="etim-block__box">
                                    <div class="etim-block__table etim-block__table--main">
                                        <div class="etim-block__header">
                                            <div class="etim-block__th">ETIM-код свойства</div>
                                            <div class="etim-block__th">Описание ETIM-свойства</div>
                                            <div class="etim-block__th">Значение ETIM-свойства</div>
                                        </div>
                                        <ul class="etim-block__rows">
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000007</div>
                                                <div class="etim-block__col">Цвет</div>
                                                <div class="etim-block__col">Белый</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000131</div>
                                                <div class="etim-block__col">Надпись/маркировка</div>
                                                <div class="etim-block__col">Цифры</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF005667</div>
                                                <div class="etim-block__col">Направление кодирования</div>
                                                <div class="etim-block__col">Вертикальное</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000007</div>
                                                <div class="etim-block__col">Цвет</div>
                                                <div class="etim-block__col">Белый</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000007</div>
                                                <div class="etim-block__col">Надпись/маркировка</div>
                                                <div class="etim-block__col">Цифры</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000007</div>
                                                <div class="etim-block__col">Направление кодирования</div>
                                                <div class="etim-block__col">Вертикальное</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000009</div>
                                                <div class="etim-block__col">Длина</div>
                                                <div class="etim-block__col">100 мм</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">EF000005</div>
                                                <div class="etim-block__col">Номинальный ток</div>
                                                <div class="etim-block__col">16 А</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="etim-block__link" href="#">Показать все свойства</a>
                                </div>

                                <div class="etim-block__box">
                                    <div class="etim-block__table etim-block__table--product">
                                        <div class="etim-block__title">
                                            Весогабаритные характеристики товара
                                        </div>
                                        <div class="etim-block__header">
                                            <div class="etim-block__th">Штрих-код</div>
                                            <div class="etim-block__th">Вес</div>
                                            <div class="etim-block__th">Длина × Высота × Ширина</div>
                                        </div>
                                        <ul class="etim-block__rows">
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">4820024700016</div>
                                                <div class="etim-block__col">4 кг</div>
                                                <div class="etim-block__col">12 × 16 × 19 см</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="etim-block__box">
                                    <div class="etim-block__table etim-block__table--package">
                                        <div class="etim-block__title">
                                            Весогабаритные характеристики упаковки
                                        </div>
                                        <div class="etim-block__header">
                                            <div class="etim-block__th">Упаковка</div>
                                            <div class="etim-block__th">Штрих-код</div>
                                            <div class="etim-block__th">Кратность</div>
                                            <div class="etim-block__th">Вес</div>
                                            <div class="etim-block__th">Длина × Высота × Ширина</div>
                                        </div>
                                        <ul class="etim-block__rows">
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">1</div>
                                                <div class="etim-block__col">4820024700016</div>
                                                <div class="etim-block__col">10</div>
                                                <div class="etim-block__col">4 кг</div>
                                                <div class="etim-block__col">12 × 16 × 19 см</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">2</div>
                                                <div class="etim-block__col">4820024700016</div>
                                                <div class="etim-block__col">20</div>
                                                <div class="etim-block__col">8,2 кг</div>
                                                <div class="etim-block__col">12 × 16 × 19 см</div>
                                            </li>
                                            <li class="etim-block__row">
                                                <div class="etim-block__col">3</div>
                                                <div class="etim-block__col">4820024700016</div>
                                                <div class="etim-block__col">30</div>
                                                <div class="etim-block__col">12 кг</div>
                                                <div class="etim-block__col">120 × 160 × 190 см</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tabs__block">
                            <div class="etim-block__box">
                                <div class="etim-block__table etim-block__table--certificates">
                                    <div class="etim-block__title">
                                        Сертификаты
                                    </div>
                                    <div class="etim-block__header">
                                        <div class="etim-block__th">Номер сертификата</div>
                                        <div class="etim-block__th">Тип сертификата</div>
                                        <div class="etim-block__th">Срок действия</div>
                                    </div>
                                    <ul class="etim-block__rows">
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                ЕАЭС RU C-DE.ME77.B.00450/19
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_info"></use>
                                                </svg>
                                                ЕАЭС (ТС)
                                            </div>
                                            <div class="etim-block__col">10.25.2019 – 10.24.2024</div>
                                        </li>
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                ЕАЭС RU C-DE.ME77.B.00450/19
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_info"></use>
                                                </svg>
                                                Д ЕАЭС (ТС)
                                            </div>
                                            <div class="etim-block__col">Бессрочный</div>
                                        </li>
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                ЕАЭС RU C-DE.ME77.B.00450/19
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_info"></use>
                                                </svg>
                                                Д ЕАЭС (ТС)
                                            </div>
                                            <div class="etim-block__col">Бессрочный</div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="etim-block__link" href="#">Показать все документы</a>
                            </div>

                            <div class="etim-block__box">
                                <div class="etim-block__table etim-block__table--docs">
                                    <div class="etim-block__title">
                                        Техническая документация
                                    </div>
                                    <div class="etim-block__header">
                                        <div class="etim-block__th">Документ</div>
                                        <div class="etim-block__th">Тип</div>
                                        <div class="etim-block__th"></div>
                                    </div>
                                    <ul class="etim-block__rows">
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                Tmax, Низковольтные автоматические выключатели на номинальный ток до
                                                1600 А
                                            </div>
                                            <div class="etim-block__col">
                                                Листовки
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                                                </svg>
                                            </div>
                                        </li>
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                ABB i-bus KNX
                                            </div>
                                            <div class="etim-block__col">
                                                Каталоги
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                                                </svg>
                                            </div>
                                        </li>
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                Решение для управления и защиты электродвигателей с новой технологией
                                                втычного монтажа
                                            </div>
                                            <div class="etim-block__col">
                                                Каталоги
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                                                </svg>
                                            </div>
                                        </li>
                                        <li class="etim-block__row">
                                            <div class="etim-block__col">
                                                <svg class="s-icon etim-block__icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                                </svg>
                                                RUIS2
                                            </div>
                                            <div class="etim-block__col">
                                                Брошюры
                                            </div>
                                            <div class="etim-block__col">
                                                <svg class="s-icon">
                                                    <use xlink:href="img/svg/sprite1.svg#ic24_external_link"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="etim-block__link" href="#">Показать все документы</a>
                            </div>
                        </div>
                        <div class="product-tabs__block">
                            <ul class="product-tabs__gallery">
                                <li class="product-tabs__gallery-item js-video-play" data-modal="#modal-test">
                                    <img src="img/product-page/photo1.jpg" alt="photo">
                                </li>
                                <li class="product-tabs__gallery-item js-video-play" data-modal="#modal-test">
                                    <img src="img/product-page/photo2.jpg" alt="photo">
                                </li>
                            </ul>
                        </div>

                        <div class="product-tabs__block">
                            <ul class="product-tabs__gallery">
                                <li class="product-tabs__gallery-item">
                                    <img src="img/product-page/photo1.jpg" alt="photo">
                                </li>
                                <li class="product-tabs__gallery-item">
                                    <img src="img/product-page/photo2.jpg" alt="photo">
                                </li>
                                <li class="product-tabs__gallery-item">
                                    <img src="img/product-page/photo3.jpg" alt="photo">
                                </li>
                                <li class="product-tabs__gallery-item">
                                    <img src="img/product-page/photo4.jpg" alt="photo">
                                </li>
                                <li class="product-tabs__gallery-item">
                                    <img src="img/product-page/photo5.jpg" alt="photo">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>