<div class="search-menu">
    <div class="container">
        <div class="search-menu__inner">
            <form class="search-menu__form">
                <label class="search-block">
                    <svg class="s-icon search-block__icon">
                        <use xlink:href="img/svg/sprite1.svg#ic24_search"></use>
                    </svg>
                    <input class="search-block__input" type="search" placeholder="{{searchPlaceholder}}">
                    <button class="btn search-block__btn">Найти</button>
                </label>
            </form>
        </div>
    </div>
</div>