<div class="search-menu">
    <div class="container">
        <div class="search-menu__inner">
            <form class="search-menu__form" novalidate>
                {% set searchPlaceholder = "Укажите код заказа, артикул/тип, наименование или серию" %}
                {% include 'parts/components/search-block.njk' %}
            </form>
        </div>
    </div>
</div>