<div class="sidebar js-sidebar-filter {{sidebarClass}}">
    <form class="sidebar__filters js-accordion">
        <div class="sidebar__filter-links">
            <div class="sidebar__main-title page-title">
                <h1>Документы</h1>
            </div>
            <button class="sidebar__filter-close">
                <svg class="s-icon s-icon--md">
                    <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                </svg>
            </button>
            <div class="sidebar__filter-title">
                Фильтр
            </div>
            
            <div class="sidebar__dropdown-select">
                <div class="select select--type2">
                    <div class="select__header">
                        <div class="select__content" tabindex="0">

                        </div>
                        <svg class="s-icon select__icon">
                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                        </svg>
                    </div>
                    <div class="select__list" data-simplebar>
                        <div class="select__item select__item--def" data-select-value="" tabindex="0">
                            <span class="select__item-default">Выберите тип документа</span>
                        </div>
                        <div class="select__item" data-select-value="catalog" tabindex="0">
                            <span class="select__item-inner">Каталог</span>
                        </div>
                        <div class="select__item" data-select-value="brochure" tabindex="0">
                            <span class="select__item-inner">Брошюра</span>
                        </div>
                        <div class="select__item" data-select-value="video" tabindex="0">
                            <span class="select__item-inner">Видео</span>
                        </div>
                        <div class="select__item" data-select-value="certificate" tabindex="0">
                            <span class="select__item-inner">Сертификат</span>
                        </div>
                        <div class="select__item" data-select-value="catalog" tabindex="0">
                            <span class="select__item-inner">BIM-модели</span>
                        </div>
                        <div class="select__item" data-select-value="instruction" tabindex="0">
                            <span class="select__item-inner">Инструкция</span>
                        </div>
                        <div class="select__item" data-select-value="passport" tabindex="0">
                            <span class="select__item-inner">Паспорт изделия</span>
                        </div>
                    </div>
                    <select class="select__data" name="partnerType" required id="add-spec"
                        tabindex="-1">
                        <option value="">Выберите тип документа</option>
                        <option value="catalog">Каталог</option>
                        <option value="brochure">Брошюра</option>
                        <option value="video">Видео</option>
                        <option value="certificate">Сертификат</option>
                        <option value="catalog">BIM-модели</option>
                        <option value="instruction">Инструкция</option>
                        <option value="passport">Паспорт изделия</option>
                    </select>
                </div>
            </div>

            <div class="sidebar__filter active">
                <div class="sidebar__title js-accordion__title">
                    Силовые автоматические выключатели
                    <svg class="sidebar__title-icon s-icon">
                        <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                    </svg>
                </div>

                <div class="sidebar__content js-accordion__content">
                    <ul class="sidebar__links">
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Номинальный ток до 6300 А</a>
                        </li>
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                        </li>
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                        </li>
                        <li class="sidebar__links-item sidebar__links-item--active">
                            <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                        </li>
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Низковольтное оборудование
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">
                <ul class="sidebar__links">
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 6300 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Приводы
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Контрольно-измерительное и аналитическое оборудование
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Механическая трансмиссия
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Средневольтное оборудование
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Оборудование для металлургической промышленности
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <button class="sidebar__use btn btn--primary">Применить</button>
    </form>
</div>