<div class="sidebar {{sidebarClass}}">
    <form class="sidebar__filters js-accordion">
        <div class="sidebar__filter-links">
            <div class="sidebar__main-title page-title">
                <h1>Документы</h1>
            </div>

            <div class="sidebar__filter active">
                <div class="sidebar__title js-accordion__title">
                    Силовые автоматические выключатели
                    <svg class="sidebar__title-icon s-icon">
                        <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                    </svg>
                </div>

                <div class="sidebar__content js-accordion__content">
                    <ul class="sidebar__links">
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Номинальный ток до 6300 А</a>
                        </li>
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                        </li>
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                        </li>
                        <li class="sidebar__links-item sidebar__links-item--active">
                            <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                        </li>
                        <li class="sidebar__links-item">
                            <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Низковольтное оборудование
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">
                <ul class="sidebar__links">
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 6300 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 1600 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Номинальный ток до 630 А</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">Номинальный ток до 250 А</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Автоматический ввод резерва (АВР)</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Приводы
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Контрольно-измерительное и аналитическое оборудование
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Механическая трансмиссия
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Средневольтное оборудование
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>


        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Оборудование для металлургической промышленности
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>
    </form>
</div>