<div class="sidebar {{sidebarClass}}">
    <form class="sidebar__filters js-accordion">
        <div class="sidebar__filter-links">
            <div class="sidebar__title">
                Интеллектуальные инсталляционные системы (EIB/KNX)
            </div>

            <div class="sidebar__content">
                <ul class="sidebar__links">
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">ABB i-bus EIB/KNX Аксессуары</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">ABB i-bus EIB/KNX</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Безопасность и наблюдение</a>
                    </li>
                    <li class="sidebar__links-item sidebar__links-item--active">
                        <a class="sidebar__link" href="#">ABB i-bus EIB/KNX Блоки электропитания</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Контроллеры, логические элементы и таймеры</a>
                    </li>
                    <li class="sidebar__links-item">
                        <a class="sidebar__link" href="#">Регулирование потребления электроэнергии</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title">
                ETIM свойства
            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Цвет
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter">
            <div class="sidebar__title js-accordion__title">
                Оттенок
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">

            </div>
        </div>

        <div class="sidebar__filter active">
            <div class="sidebar__title js-accordion__title">
                Тип изделия
                <svg class="sidebar__title-icon s-icon">
                    <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                </svg>
            </div>

            <div class="sidebar__content js-accordion__content">
                <label class="sidebar__search-label">
                    <span class="visually-hidden">Поиск по категории</span>
                    <input class="sidebar__search" type="search" placeholder="Поиск по категории">
                </label>
                <ul class="sidebar__list">
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                Электрическая розетка
                            </span>
                        </label>
                    </li>
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                Информационная розетка
                            </span>
                        </label>
                    </li>
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                Телевизионная розетка
                            </span>
                        </label>
                    </li>
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                Мультимедийная розетка
                            </span>
                        </label>
                    </li>
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                USB розетка
                            </span>
                        </label>
                    </li>
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                Аудиорозетка
                            </span>
                        </label>
                    </li>
                    <li class="sidebar__item">
                        <label class="f-checkbox">
                            <input class="f-checkbox__input" type="checkbox" name="check3">
                            <span class="f-checkbox__box"></span>
                            <span class="f-checkbox__text">
                                Розеточный блок
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <button class="sidebar__more btn btn--secondary">Показать больше свойств</button>

        <div class="sidebar__loader">
            <img src="img/catalog/loader.png" alt="">
        </div>
    </form>
</div>