<section class="similar-products">
    <div class="container">
        <div class="similar-products__inner">
            <h2>
                Похожие товары
            </h2>

            <ul class="similar-products__list">
                <li class="similar-products__item">
                    <a class="similar-products__card" href="#">
                        <img class="similar-products__img" src="img/catalog/photo-product.png" alt="">

                        <div class="similar-products__content">
                            <div class="similar-products__card-title">2CDS641041R0324</div>
                            <p class="similar-products__text">
                                Выводы силовые для стационарного выключателя FC Cu T3 (комплект из 6шт.)
                            </p>
                        </div>
                    </a>
                </li>
                <li class="similar-products__item">
                    <a class="similar-products__card" href="#">
                        <img class="similar-products__img" src="img/catalog/photo-product.png" alt="">

                        <div class="similar-products__content">
                            <div class="similar-products__card-title">2CDS641041R0324</div>
                            <p class="similar-products__text">
                                Выводы силовые для стационарного выключателя FC Cu T3 (комплект из 6шт.)
                            </p>
                        </div>
                    </a>
                </li>
                <li class="similar-products__item">
                    <a class="similar-products__card" href="#">
                        <img class="similar-products__img" src="img/catalog/photo-product.png" alt="">

                        <div class="similar-products__content">
                            <div class="similar-products__card-title">2CDS641041R0324</div>
                            <p class="similar-products__text">
                                Выводы силовые для стационарного выключателя FC Cu T3 (комплект из 6шт.)
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

            <a class="similar-products__link" href="#">Показать все товары (199)</a>
        </div>
    </div>
</section>

<section class="similar-products">
    <div class="container">
        <div class="similar-products__inner">
            <h2>
                Сопутствующие товары
            </h2>

            <ul class="similar-products__list">
                <li class="similar-products__item">
                    <a class="similar-products__card" href="#">
                        <img class="similar-products__img" src="img/catalog/photo-product.png" alt="">

                        <div class="similar-products__content">
                            <div class="similar-products__card-title">2CDS641041R0324</div>
                            <p class="similar-products__text">
                                Выводы силовые для стационарного выключателя FC Cu T3 (комплект из 6шт.)
                            </p>
                        </div>
                    </a>
                </li>
                <li class="similar-products__item">
                    <a class="similar-products__card" href="#">
                        <img class="similar-products__img" src="img/catalog/photo-product.png" alt="">

                        <div class="similar-products__content">
                            <div class="similar-products__card-title">2CDS641041R0324</div>
                            <p class="similar-products__text">
                                Выводы силовые для стационарного выключателя FC Cu T3 (комплект из 6шт.)
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>