<div class="submenu">
    <div class="container">
        <nav class="submenu__navigation" data-da="header__list-wrapper,last,1218">
            <ul class="submenu__list">
                <li class="submenu__item submenu__item--active">
                    <a class="submenu__link" href="#">Данные учетной записи</a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link" href="#">Документация API</a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link" href="#">Данные о товарах</a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link" href="#">Сертификация</a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link" href="#">Регистрация проектов</a>
                </li>
                <li class="submenu__item">
                    <a class="submenu__link" href="#">Рекламации</a>
                </li>
            </ul>
        </nav>
    </div>
</div>