<div class="video-modal" id="modal-test">
    <div class="video-modal__overlay overlay"></div>
    <div class="video-modal__wrapper">
        <div class="video-modal__inner">
            <button class="video-modal__close js-close">
                <svg class="s-icon s-icon--x-lg">
                    <use xlink:href="img/svg/sprite1.svg#ic_close"></use>
                </svg>
            </button>

            <div class="video-modal__block">
                <iframe src="https://www.youtube.com/embed/UGapN-hrekw" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

</div>