<div class="video-modal" id="modal-test" data-simplebar>
    <div class="video-modal__overlay overlay"></div>
    <div class="video-modal__wrapper">
        <div class="video-modal__inner">
            <div class="video-modal__block">
                <button class="video-modal__close js-close">
                    <svg class="s-icon s-icon--x-lg">
                        <use xlink:href="img/svg/sprite1.svg#ic_close"></use>
                    </svg>
                </button>
                <iframe src="https://www.youtube.com/embed/UGapN-hrekw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

</div>

<div class="video-modal" id="modal-image" data-simplebar>
    <div class="video-modal__overlay overlay"></div>
    <div class="video-modal__wrapper">
        <div class="video-modal__inner">
            <div class="video-modal__block">
                <button class="video-modal__close js-close">
                    <svg class="s-icon s-icon--x-lg">
                        <use xlink:href="img/svg/sprite1.svg#ic_close"></use>
                    </svg>
                </button>
                <img class="video-modal__image" src="img/product-page/test-image.jpg" alt="">
            </div>
        </div>
    </div>

</div>