<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Каталог товаров на сайте DSF">

    <title>Catalog/Category | ABB</title>
    <link rel="stylesheet" href="css/simplebar.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
</head>

<body>
    {% set headerAuth = true %}
    {% set headerPageTitle = "ABB i-bus EIB/KNX Блоки электропитания" %}
    {% set headerFilter = true %}
    {% set headerSearch = true %}
    {% include 'parts/header-account.njk' %}

    <main class="main">
        {% include 'parts/submenu.njk' %}
        {% include 'parts/breadcrumbs.njk' %}


        <section class="catalog-category">
            <div class="container">
                <div class="catalog-category__title page-title">
                    <h1>Каталог товаров</h1>
                </div>
                <div class="catalog-category__inner">
                    {% set sidebarClass = 'catalog-category__sidebar' %}
                    {% include 'parts/sidebar.njk' %}

                    <div class="catalog-category__content">
                        <form class="catalog-category__search" novalidate>
                            {% set searchPlaceholder =
                            'Для поиска по категории укажите код заказа, артикул/тип или описание'
                            %}
                            {% include 'parts/components/search-block.njk' %}
                        </form>

                        {% include 'parts/catalog-table.njk' %}
                        {% include 'parts/pagination.njk' %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'parts/footer.njk' %}


    <script src="plugins/simplebar.js"></script>
    <script src="plugins/inputmask.js"></script>
    <script src="plugins/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>