<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Каталог товаров на сайте DSF">

    <title>Catalog/Category/View | ABB</title>
    <link rel="stylesheet" href="css/simplebar.min.css">
    <link rel="stylesheet" href="plugins/swiper.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
</head>

<body>
    {% set headerAuth = true %}
    {% include 'parts/header-filters.njk' %}

    <main class="main">

        <section class="faq">
            <div class="container">
                <div class="faq__inner">
                    <div class="sidebar faq__sidebar js-sidebar-filter">
                        <button class="sidebar__filter-close">
                            <svg class="s-icon s-icon--md">
                                <use xlink:href="img/svg/sprite1.svg#ic32_arrow_left"></use>
                            </svg>
                        </button>
                        <div class="sidebar__filter-title">
                            Фильтр
                        </div>

                        <div class="sidebar__content">
                            <div class="page-title faq__title">
                                <h1>Частые вопросы</h1>
                            </div>

                            <!-- <ul class="sidebar__tags">
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox" checked>
                                        <span class="sidebar__tag-box">ПРА</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Счетчики</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Подбор товара</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox" checked>
                                        <span class="sidebar__tag-box">Выбор комплектации</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Счетчики</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Счетчики</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Подбор товара</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">ЛВС</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Комплектация</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">ЗЩАЛ</span>
                                    </label>
                                </li>
                            </ul> -->

                            <div class="sidebar__filter-links">
                                <div class="sidebar__content">
                                    <ul class="sidebar__links">
                                        <li class="sidebar__links-item">
                                            <a class="sidebar__link sidebar__links-item--active" href="#">ПРА</a>
                                        </li>
                                        <li class="sidebar__links-item">
                                            <a class="sidebar__link" href="#">Счетчики</a>
                                        </li>
                                        <li class="sidebar__links-item">
                                            <a class="sidebar__link" href="#">Подбор товара</a>
                                        </li>
                                        <li class="sidebar__links-item">
                                            <a class="sidebar__link" href="#">Выбор комплектации</a>
                                        </li>
                                        <li class="sidebar__links-item">
                                            <a class="sidebar__link" href="#">ЛВС</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="sidebar__use btn btn--primary">Применить</button>
                        </div>

                    </div>


                    <div class="faq__content product-row__content">
                        <form class="product-row__search" data-da="sidebar,last,1200" novalidate>
                            {% set searchPlaceholder = 'Поиск' %}
                            {% include 'parts/components/search-block.njk' %}
                        </form>
                        <div class="product-row__catalog js-accordion">
                            <ul class="product-row__list">
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Как выбрать модульный контактор серии ESB для коммутации освещения?
                                        </h3>
    
                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                               
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Что такое категории применения и как их учитывать при выборе коммутационного
                                            оборудования (контакторов)?
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Подобрать 1-фазный многотарифный счетчик, замена FBU 11205
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Подбор товара</li>
                                            <li class="spec-list__item">Счетчики</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Как выбирать контакторы серии AF для коммутации постоянного тока?
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Как выбрать модульный контактор серии ESB для коммутации освещения?
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Что такое категории применения и как их учитывать при выборе коммутационного
                                            оборудования (контакторов)?
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Подобрать 1-фазный многотарифный счетчик, замена FBU 11205
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Подбор товара</li>
                                            <li class="spec-list__item">Счетчики</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                                <li class="product-row__row">
                                    <div class="product-row__item-link js-accordion__title">
                                        <h3 class="product-row__title">
                                            Как выбрать модульный контактор серии ESB для коммутации освещения?
                                        </h3>

                                        <ul class="spec-list">
                                            <li class="spec-list__item">ПРА</li>
                                            <li class="spec-list__item">Выбор комплектации</li>
                                        </ul>
                                        <svg class="product-row__triangle s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_dropdown_arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="product-row__answer js-accordion__content">
                                        <p>
                                            Сторонники тоталитаризма в науке будут разоблачены. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            {% include 'parts/pagination.njk' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'parts/footer.njk' %}


    <script src="plugins/simplebar.js"></script>
    <script src="plugins/inputmask.js"></script>
    <script src="plugins/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>