<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Каталог товаров на сайте DSF">

    <title>Catalog/Category/View | ABB</title>
    <link rel="stylesheet" href="css/simplebar.min.css">
    <link rel="stylesheet" href="plugins/swiper.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
</head>

<body>
    {% set headerAuth = true%}
    {% include 'parts/header.njk' %}

    <main class="main">

        <section class="faq">
            <div class="container">
                <div class="page-title faq__title">
                    <h1>Частые вопросы</h1>
                </div>

                <div class="faq__inner">
                    <div class="sidebar faq__sidebar">
                        <div class="sidebar__content">

                            <ul class="sidebar__tags">
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox" checked>
                                        <span class="sidebar__tag-box">ПРА</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Счетчики</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Подбор товара</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox" checked>
                                        <span class="sidebar__tag-box">Выбор комплектации</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Счетчики</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Счетчики</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Подбор товара</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">ЛВС</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">Комплектация</span>
                                    </label>
                                </li>
                                <li class="sidebar__tag">
                                    <label class="sidebar__tag-label">
                                        <input class="sidebar__tag-checkbox" type="checkbox">
                                        <span class="sidebar__tag-box">ЗЩАЛ</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="faq__content catalog-row__content">
                        <div class="catalog-row__catalog">
                            <ul class="catalog-row__list">
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Как выбрать модульный контактор серии ESB для коммутации освещения?
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Что такое категории применения и как их учитывать при выборе коммутационного
                                        оборудования (контакторов)?
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Подобрать 1-фазный многотарифный счетчик, замена FBU 11205
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Подбор товара</li>
                                        <li class="catalog-row__item">Счетчики</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Как выбирать контакторы серии AF для коммутации постоянного тока?
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Как выбрать модульный контактор серии ESB для коммутации освещения?
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Что такое категории применения и как их учитывать при выборе коммутационного
                                        оборудования (контакторов)?
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Подобрать 1-фазный многотарифный счетчик, замена FBU 11205
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Подбор товара</li>
                                        <li class="catalog-row__item">Счетчики</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                                <li class="catalog-row__row">
                                    <h3 class="catalog-row__title">
                                        Как выбрать модульный контактор серии ESB для коммутации освещения?
                                    </h3>

                                    <ul class="catalog-row__characteristics">
                                        <li class="catalog-row__item">ПРА</li>
                                        <li class="catalog-row__item">Выбор комплектации</li>
                                    </ul>
                                </li>
                            </ul>

                            {% include 'parts/pagination.njk' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'parts/footer.njk' %}


    <script src="plugins/simplebar.js"></script>
    <script src="plugins/inputmask.js"></script>
    <script src="plugins/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>