<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Каталог товаров на сайте DSF">

    <title>Catalog/Category/View | ABB</title>
    <link rel="stylesheet" href="css/simplebar.min.css">
    <link rel="stylesheet" href="plugins/swiper.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
</head>

<body>
    {% set headerAuth = true %}
    {% include 'parts/header-account.njk' %}

    <main class="main">
        {% include 'parts/submenu.njk' %}

        <section class="goods">
            <div class="container">
                <div class="page-title goods__title">
                    <h1>Данные о товарах</h1>
                </div>
                <div class="goods__inner">
                    <div class="goods__content">
                        <div class="goods__suptitle">Цены и остаки на складах</div>
                        <ul class="goods__list">
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Прайс-лист Motion (MO)
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">15,8 МБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Прайс-лист Elctrification (EL)
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">2,2 МБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Остатки
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">136,1 МБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                        </ul>

                        <div class="goods__suptitle">Архивы с данными о товарах</div>
                        <ul class="goods__list">
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        ETIM свойства товара
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">5,3 ГБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Изображения
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">5,3 ГБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Сертификаты
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">5,3 ГБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Документы
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">5,3 ГБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        ВГХ (Весо-габаритные характеристики)
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">5,3 ГБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                            <li class="goods__item">
                                <a class="goods__link" href="#">
                                    <div class="goods__name">
                                        <svg class="goods__icon s-icon">
                                            <use xlink:href="img/svg/sprite1.svg#ic24_file"></use>
                                        </svg>
                                        Ключевые слова, серия, описание, страна производителя
                                    </div>
                                    <ul class="goods__spec spec-list">
                                        <li class="spec-list__item">5,3 ГБ</li>
                                        <li class="spec-list__item">12.01.2021 г.</li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="goods__info">
                        <p class="goods__info-title">Используй API для синхронизации данных с сайтом или каталогом</p>
                        <p class="goods__info-text">Обратитесь к ответственному менеджеру для подключения</p>
                        <img class="goods__info-img" src="img/goods/api.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'parts/footer.njk' %}


    <script src="plugins/simplebar.js"></script>
    <script src="plugins/inputmask.js"></script>
    <script src="plugins/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>